* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
}
.separate-horizontal {
    display: block;
    width: 90%;
    border-top: 1px solid #ccc;
    margin: 0 auto;
}

:root {
    --main-color : rgb(16, 145, 180);
    --text-color : #333;
    --heading-color : #555;
    --extra-color : rgb(69, 179, 209);
}